%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Great news!
      %br
      #{@user_name} just accepted the invitation to join #{@mesa_title} Mesa.
      

