%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3
      Hi, #{@user.name}.
    %p
      You are now a Leader in the Mesa network. Use your email and the password below to access:
      %br
      #{@code}.
    %p

