%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hello #{@user.email}
    %p
      Someone has sent a forgot password request in Mesa & Cadeira
      %br
      Following are your username and password:
      %br
      Username: #{@user.email}.
      %br
      Password: #{@user.password}.
      %br
    %p
    %p Thanks for joining and have a great day!
