%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      #{@user_name} need help finding: #{@search_keys}
      %br
      #To get in touch with him use the e-mail #{@user_email}

