%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hey, #{@owner}. Your mission was accepted!
      %br
      Now you need to select your team. Make sure you have every single skill and background you will need to prototype your solution.

