%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      #{@owner} has just opened a Mesa.
      %br
      Please validate the brief so he can start inviting people to join it

