%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to Mesa & Cadeira.com, #{@user.name}
    %p
      You have successfully signed up to Mesa & Cadeira
      %br
      your username is: #{@user.email}.
      %br
      your password is: #{@user.password}.
      %br
    %p
    %p Thanks for joining and have a great day!
