<!--fourth column start-->
    <div class="second_col_header">
      <div class="title_heading">
        <a href="#"><img src="/assets/back_butn.png" class="" alt="back" onclick="enable_prev_step('.fourth_col','.third_col');" /></a> Back
      </div>
      <div class="title_heading_sep"></div>

    <div class="invites_user_desc">The user "<%= @user_name %>" is successfully created.</div>
  <!--end four column-->
