 <!-- Second Column start-->
    <div class="border col-xs-3 hrLineRightGrey second_col">
         <%= render partial: '/welcome/new_admin' , layout: false  %>
    </div>
    <!-- end Second column-->

    <!-- Third column start-->
    <div class="border col-xs-3 hrLineRightGrey third_col"></div>
    <!--third column end-->

    <!--fourth column start-->
    <div class="border col-xs-3 fourth_col"></div>
    <!--end four column-->




