<% if @code_list %>
<% unless @code_list.empty? %>
	<div class="invites_user_desc">	These are the open codes you can use to invite people. To avoid sending the  same code out to different people, add the name related to each one: </div>
	<ul>
	<% @code_list.each do |code|%>
		<li><div class="invitation_lbl"><%= code.code_text %></div>
		<% if code.out_to.to_s == "" %>
			<span id ="out_to"><input id= "code_out_to_<%= code.id %>" type="text" placeholder= "Enter name here" ><button class="btn btn_clear"onclick="save_code(<%= code.id %>);">OK</button></span>	
		<% else %>	 
			<span>out to: <%= code.out_to %> </span>
		<% end %>
		</li>
	<% end%>
	</ul>
<% else %>
	<div class="invites_user_desc"> You have no codes generated. Click on the button below to generate codes. </div>
	
<% end %>
<% end %>

<script type="text/javascript">
 
    function save_code(code_id){
     var out_to = document.getElementById( "code_out_to_"+code_id ).value   
     var url = '/invitations/save_code?id='+code_id+'&out_to='+out_to;
	    $.ajax({
		url:url,
		type:'get',
		success:function (data) {
		    {
		    	$("#code_list").html(data);
			//$("#col3").html(data);
   		    }
		}
	    });

       
   }

</script>
