<!-- Second Column start-->
  <div  id="invite_col1" class="border col-xs-3 hrLineRightGrey second_col scrollbar">
    <div class="second_col_header">
      <div class="title_heading">Admin Mesa > List </div>
      <div class="title_heading_sep"></div>
    </div>

    <div class="project_list">
      <div class="proj_list_title">
        <span>Recently joined</span>
        	<img src="/assets/next.png" class="pull-right hand_cursor" alt="" onclick= get_recently_joined_users();>
      </div>
      <div class="proj_list_hr"></div>
    </div>

    <div class="project_list">
      <div class="proj_list_title">
        <span>Your Codes</span>
        <img src="/assets/next.png" class="pull-right hand_cursor" alt="" onclick= get_codes();>
      </div>
      <div class="proj_list_hr"></div>
    </div>

    <div class="project_list">
      <div class="proj_list_title">
        <span>Curators</span>
        <img src="/assets/next.png" class="pull-right hand_cursor" alt=""  onclick= get_curators();>
      </div>
      <div class="proj_list_hr"></div>
    </div>

  </div>

  <!-- end Second column-->

  <!-- Third column start-->
  <div  id="invite_col2" class="border col-xs-3 hrLineRightGrey third_col scrollbar">
    <div class="second_col_header">
      <div class="title_heading">
        <img src="/assets/back_butn.png" class="hand_cursor" alt="back"  onclick="enable_prev_step('.third_col','.second_col');"/> Back
      </div>
      <div class="title_heading_sep"></div>
    </div>
   		 <div id="your_codes" style="display:none;">
			 <%= render partial: '/invitations/code_list' %>
 		</div>
		<div id="recently_joined" style="display:none;">
			 <%= render partial: '/invitations/recently_joined' %>
 		</div>	
    		<div id="network_curators" style="display:none;">
			 <%= render partial: '/invitations/network_curators' %>
 		</div>	

  </div>
  <!--third column end-->

  <!--fourth column start-->
 <div  class="border col-xs-3 hrLineRightGrey fourth_col scrollbar">
	<div class="second_col_header">
	      <div class="title_heading">
		<img src="/assets/back_butn.png" class="hand_cursor" alt="back" onclick="enable_prev_step('.fourth_col','.third_col');" /> Back
	      </div>
	      <div class="title_heading_sep"></div>
       </div>
  	<div  id="invite_col3" >
       </div>

 </div>
  <!--end four column-->









<script type="text/javascript">
  
   function get_recently_joined_users(){
        
     var url = '/users/recently_joined_users';
	    $.ajax({
		url:url,
		type:'get',
		success:function (data) {
		    {
		    	$("#recently_joined").html(data).show();
			$("#your_codes").hide();
			$("#network_curators").hide();
			show_next_step(".second_col",".third_col");
   		    }
		}
	    });

       
   }

  function get_codes(){
        
     var url = '/users/user_invitation_codes';
	    $.ajax({
		url:url,
		type:'get',
		success:function (data) {
		    {
		    	$("#your_codes").html(data).show();
			$("#recently_joined").hide();
			$("#network_curators").hide();
			show_next_step(".second_col",".third_col");
   		    }
		}
	    });

       
   }

  function get_curators(){
        
     var url = '/users/get_curators';
	    $.ajax({
		url:url,
		type:'get',
		success:function (data) {
		    {
		    	$("#network_curators").html(data).show();
			$("#recently_joined").hide();
			$("#your_codes").hide();
			show_next_step(".second_col",".third_col");
   		    }
		}
	    });

       
   }

</script>

