<div class="searched_user_des"> Search profile by name, skill and tag</div>
 <%= render partial: '/searches/search_box' %>
 <div class="searched_user_clear">
          <button type="button" class="btn btn-default btn_clear" onclick="$('.tagit-choice').remove();" >CLEAR</button>
          <div class="user_search">
            Search <a href="#"><img src="assets/next.png" class="" alt="back" onclick="search_user();" /></a>
          </div>
 </div>		

<script type="text/javascript">
    function search_user(){
    search_strings = [];
    var li = document.getElementsByClassName("tagit-choice");
    $(li).each(function(){
	search_strings.push($(this).find('span.tagit-label').text());
    });
    
     var url = '/searches/search_keys';
	    $.ajax({
		url:url,
		type:'get',
		data : {search_keys: search_strings },
		success:function (data) {
		    {
		    	$("#search_results").html(data);
   		    }
		}
	    });

       
   }
</script>
