<div class="searched_user_des"> Search profiles by name, skill or tags.</div>
 <%= render partial: '/searches/search_box' %>
<input type="hidden" name="mesa_id" id="hidden_mesa_value" value="<%= mesa_id %>">
<div class="searched_user_clear">
          <button type="button" class="btn btn-default btn_clear" onclick="$('.tagit-choice').remove();$('#mesa_user_search_results').hide();" class="hand_cursor">CLEAR</button>
          <div class="user_search">
            <b> Search </b> <img src="assets/next.png" class="hand_cursor" alt="back" onclick="search_user_for_chair();" />
          </div>
 </div>	

<script type="text/javascript">
    function search_user_for_chair(){
    search_strings = [];
    var li = document.getElementsByClassName("tagit-choice");
    $(li).each(function(){
	search_strings.push($(this).find('span.tagit-label').text());
    });
     var mesa_id = $('#hidden_mesa_value').val();
     var url = '/searches/search_keys_for_chair';
	    $.ajax({
		url:url,
		type:'get',
		data : {search_keys: search_strings,mesa_id: mesa_id },
		success:function (data) {
		    {
		    	$("#mesa_user_search_results").html(data).show();
   		    }
		}
	    });
      
   }
</script>
