<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div style="width: 100%; display: table;">
    <div style="display: table-row">
        <div id="col1" style="width: 30%; display: table-cell;border-right: solid;
border-width: 1px;
border-color: #000;"> 
		 <%= render partial: '/searches/search_by_key' %>
		 <div id='search_results'>
		</div> 
	</div>
        <div id="col2"  style="width: 30%;display: table-cell; border-right: solid;
border-width: 1px;
border-color: #000;"></div>
	<div id="col3"  style="display: table-cell;"> 3 </div>
    </div>
</div>


</body>
</html>


