<% if user_signed_in? %>
    <!-- Second Column start-->
    <div class="border col-xs-3 hrLineRightGrey second_col">
	      <div class="second_col_header">
		<div class="title_heading">Home </div>
		<div class="title_heading_sep"></div>
	      </div>
	      <!--Search user blocked -->
	      <div class="searched_user">
		      	<%= render partial: '/searches/search_by_key' %>
			<div id='search_results'>
		       </div> 
	      </div>
	      <!--end search user-->
    </div>

    <!-- end Second column-->

    <!-- Third column start-->
    <div class="border col-xs-3 hrLineRightGrey third_col">
    </div>
    <!--third column end-->

    <!--fourth column start-->
    <div class="border col-xs-3 fourth_col">
    </div>
    <!--end four column-->

<% end %>

