<% if user_signed_in? %>
    <!-- Second Column start-->
    <div class="border col-xs-3 hrLineRightGrey second_col scrollbar">
	      <div class="second_col_header">
		<div class="title_heading"> Search </div>
		<div class="title_heading_sep"></div>
	      </div>
	      <!--Search user blocked -->
	      <div class="searched_user">
		      	<%= render partial: '/searches/search_by_key' %>
			<div id='search_results'  class = "scrollbar">
		       </div> 
	      </div>
	      <!--end search user-->
    </div>

    <!-- end Second column-->

    <!-- Third column start-->
    <div class="border col-xs-3 hrLineRightGrey third_col scrollbar">
	 <div class="second_col_header">
	      <div class="title_heading">
		<img src="/assets/back_butn.png" class="hand_cursor" alt="back"  onclick="enable_prev_step('.third_col','.second_col');"/> Back
	      </div>
              <div class="title_heading_sep"></div>
	<div class="user_details_col" style = "padding-top:15px;" > </div>
 	</div>
    </div>
    <!--third column end-->

    <!--fourth column start-->
    <div class="border col-xs-3 fourth_col scrollbar">
	<div class="second_col_header">
	      <div class="title_heading">
		<img src="/assets/back_butn.png" class="hand_cursor" alt="back" onclick="enable_prev_step('.fourth_col','.third_col');" /> Back
	      </div>
		<div class="title_heading_sep"></div>
	      <div  class="user_rate_col" style = "word-wrap: break-word;" ></div>
       </div>
    </div>
    <!--end four column-->
	
<% end %>

