/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require bootstrap-theme
 *= require jquery.mCustomScrollbar
 *= require jquery.tagit
 *= require missions
 *= require tagit.ui-zendesk
 *= require welcome
 */

.alert-box.warning {
	background-color: #f08a24;
	border-color: #de770f;
	color: white;
}

.alert-box.success {
	background-color: #43ac6a;
	border-color: #3a945b;
	color: white;
}

.alert-box.radius {
	border-radius: 3px;
}

.alert-box {
	border-style: solid;
	border-width: 1px;
	display: block;
	font-weight: normal;
	position: relative;
	padding: 0.875rem 1.5rem 0.875rem 0.875rem;
	font-size: 14px;
	transition: opacity 300ms ease-out;
	background-color: #008cba;
	border-color: #0078a0;
	color: white;
   	 width: 100%;
	 position: absolute;
  	z-index: 999;
}

.starRating{
  display        : inline-block;
  position       : relative;
  height         : 24px;
  background     : url('../assets/stars.png') repeat-x 0 0;
  vertical-align : bottom;
}

.starRating div{
  float    : left;
  position : relative;
  height   : 24px;
}

.starRating input{
  position : relative;
  z-index  : 1;
  width    : 24px;
  height   : 24px;
  margin   : 0;
  padding  : 0;
  opacity  : 0;
}

.starRating label{
  position : absolute;
  top      : 0;
  left     : 0;
  width    : 100%;
  height   : 24px;
}

.starRating span{
  display : none;
}

.starRating       input:checked       + label,
.starRating:hover input:checked:hover + label{
  background : url('../assets/stars.png') repeat-x 0 -24px;
  margin: 0px;
}

.starRating:hover input:checked + label{
  background : transparent;
}

.starRating:hover input:hover + label{
  background : url('../assets/stars.png') repeat-x 0 -48px;
  margin: 0px;
}

ul
{
    list-style-type: none;
}

.chair_list_div {
background: #FFF;
/* position: relative; */
z-index: 10;
padding: 20px;
border-radius: 5px;
border: 2px solid #2E2E2D;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
overflow-y: auto;
position: fixed;
}

.add_new_user
{
width: 305px;
height: 36px;
background-color: rgb(216, 216, 216);
}

.role_selection
{
width: 306px;
height: 32px;
margin: 10px 0px;
padding-left: 10px;
background-color: #d8d8d8;

}

