.home_top_icon {
  background-color: black;
  height: 70px;
  width: 276px;
  margin-top: -3px;
  font-family: "Apercu-Light";
  color: #ffffff;
  font-size: 31.38px;
}

.side-nav-bar-menu {
  margin-left: 15px;
  width: 250px;
}