<% if mission_details%>
	Challenge<br>
	<p><%= mission_details[:shared_motivation] %></p>
	When<br>
	<p><%= mission_details[:from_date] %> to <%= mission_details[:to_date] %> </p>
	<p><%= mission_details[:time] %></p>
<% end %>
