<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<% if user_signed_in? %>
    <!-- Second Column start-->
  <div class="border col-xs-3 hrLineRightGrey second_col scrollbar">
    <div class="stepA second_col_stepA">
      <div class="second_col_header">
        <div class="title_heading">Create Mission </div>
        <div class="title_heading_sep"></div>
      </div>

      <div class="create_mission">
        <div class="create_mission_title">"What's the title of this Mesa?</div>
        <div class="create_mission_desc">It has to be simple and functional as Mesa Packaging or Mesa Coke."</div>
        <div class="create_mission_input" id= "mesa_title">
          <textarea rows="4" cols="50" placeholder="|Write here"></textarea>
	</div>
	<div id = 'mesa_title_error' class="error_msg">Please fill the Mission title</div>
	
        <div class="create_mission_next_btn">
           <img src="/assets/next.png" class="pull-right hand_cursor" onclick = "validate_and_next('mesa_title','.second_col','.third_col');" >
        </div>
      </div>
    </div>

    <!--Step B-->
    <div class="stepB second_col_stepB">
      <div class="second_col_header">
        <div class="title_heading">
          <img src="/assets/back_butn.png" class="hand_cursor" alt="back" onclick="show_first_steps();"/> Back
        </div>
        <div class="title_heading_sep"></div>
      </div>

      <div class="create_mission">
        <div class="create_mission_title">Can you create something tangible?</div>
        <div class="create_mission_desc">Mesa exists to create something real.It's not about planing or coming up with an idea.It's about really making something real.</div>
        <div class="create_mission_next_btn">
             <img src="/assets/next.png" class="pull-right hand_cursor" onclick="show_build_intend();">
        </div>
      </div>
    </div>
    <!--end end stepb-->

    <!--Step C-->
    <div class="stepC second_col_stepC">
      <div class="second_col_header">
        <div class="title_heading">
          <img src="/assets/back_butn.png" class="hand_cursor" alt="back" onclick="show_last_steps();"/> Back
        </div>
        <div class="title_heading_sep"></div>
      </div>

      <div class="create_mission">
        <div class="create_mission_title">Time to verify your Mesa’s information</div>

        <div class="mesa_item" style="clear:both;">
          <span class="mesa_title">Name:</span><span class="mesa_name" id='mesa_title_lbl' ></span>
        </div>
	 <div class="mesa_item" style="clear:both;">
          <span class="mesa_title">From date:</span><span class="mesa_name" id='mesa_from_date_lbl'></span>
        </div>
        <div class="mesa_item" style="clear:both;">
          <span class="mesa_title">To date:</span><span class="mesa_name" id='mesa_to_date_lbl'></span>
        </div>
        <div class="mesa_item" style="clear:both;">
          <span class="mesa_title">Time:</span><span class="mesa_name" id='mesa_time_lbl'></span>
        </div>
        <div class="mesa_item" style="clear:both;">
          <span class="mesa_title">Place:</span><span class="mesa_name" id='mesa_place_lbl'></span>
        </div>
        <div class="mesa_item" style="clear:both;">
          <span class="mesa_title">Mission:</span><span class="mesa_name" id='mesa_mission_lbl'></span>
        </div>
        <div class="mesa_send_btn" style="clear:both;">
           <button type="button" class="btn btn-default btn-admin btn-selected" onclick='send_brief();'>Send</button>
        </div>

      </div>
    </div>
    <!--end end stepb-->

  </div>

  <!-- end Second column-->
   <!-- Third column start-->
  <div class="border col-xs-3 hrLineRightGrey third_col scrollbar">
    <div class="stepA third_col_stepA">
      <div class="second_col_header">
        <div class="title_heading">
          <img src="/assets/back_butn.png" class="hand_cursor" alt="back" onclick="enable_prev_step('.third_col','.second_col');"/> Back
        </div>
        <div class="title_heading_sep"></div>
      </div>

      <div class="create_mission">
        <div class="create_mission_title">What is your brief?</div>
        <div class="create_mission_desc">Tels us your business challenges and what goals you need to achieve.</div>
        <div class="create_mission_input" id="mesa_brief_in">
          <textarea rows="4" cols="50" placeholder="|Write here"></textarea>
        </div>
        <div id = 'mesa_brief_in_error' class="error_msg">Please fill the Mission Brief</div>
        <div class="create_mission_next_btn" id="mesa_brief">
            <img src="/assets/next.png" class="pull-right hand_cursor" onclick = "validate_and_next('mesa_brief_in', '.third_col','.fourth_col');">
        </div>
      </div>
    </div>

    <!--Step B-->
    <div class="stepB third_col_stepB">
      <div class="second_col_header">
        <div class="title_heading">
          <img src="/assets/back_butn.png" class="hand_cursor" alt="back"  onclick="enable_prev_step('.third_col','.second_col');" /> Back
        </div>
        <div class="title_heading_sep"></div>
      </div>

      <div class="create_mission">
        <div class="create_mission_title">What do you intend to built?</div>
        <div class="create_mission_desc">This is the mission of Mesa: the sentence we put in an envelop, So, tell us the task and the goal that participants will receive and solve</div>
        <div class="create_mission_input" id="mesa_build_intent">
          <textarea rows="4" cols="50" placeholder="|Write here"></textarea>
        </div>
	 <div id = 'mesa_build_intent_error' class="error_msg">Please fill the Mission Intend</div>
        <div class="create_mission_next_btn">
             <img src="/assets/next.png" class="pull-right hand_cursor" onclick="show_when();">
        </div>
      </div>
    </div>
    <!--end step b-->

    <!--Step c-->
    <div class="stepC third_col_stepC">
	      <div class="second_col_header">
		<div class="title_heading">
		  <img src="/assets/back_butn.png" class="hand_cursor" alt="back" onclick="enable_prev_step('.third_col .third_col_stepC','.second_col');" />Back
		</div>
		<div class="title_heading_sep"></div>
	      </div>
		 
	      <div class="create_mission">
	      	<div id="brief_validation_msg"  style="display:none;">
		</div>
	     </div>
    </div>
    <!--end step b-->

  </div>
  <!--third column end-->

  <!--fourth column start-->
  <div class="border col-xs-3 fourth_col scrollbar">
    <div class="stepA fourth_col_stepA">
      <div class="second_col_header">
        <div class="title_heading">
          <img src="/assets/back_butn.png" class="hand_cursor" alt="back"  onclick="enable_prev_step('.fourth_col','.third_col');"/> Back
        </div>
        <div class="title_heading_sep"></div>
      </div>

      <div class="create_mission">
        <div class="create_mission_title">What's the shared motivation?</div>
        <div class="create_mission_desc">How can you win the hearts of the best talents to join you in the mesa?</div>
        <div class="create_mission_input" id= "mesa_shared_motivation">
          <textarea rows="4" cols="50" placeholder="|Write here"></textarea>
        </div>
	<div id = 'mesa_shared_motivation_error' class="error_msg">Please fill the Shared motivation for Mission</div>
        <div class="create_mission_next_btn">
            <img src="/assets/next.png" class="pull-right hand_cursor" onclick = 'show_tangible();'>
       </div>
      </div>
      </div>
    <!--Stepb-->
    <div class="stepB fourth_col_stepB">
      <div class="second_col_header">
        <div class="title_heading">
          <img src="/assets/back_butn.png" class="hand_cursor" alt="back"  onclick="enable_prev_step('.fourth_col','.third_col');" /> Back
        </div>
        <div class="title_heading_sep"></div>
      </div>

      <div class="create_mission">
        <div class="create_mission_title">When is it happening?</div>

	<div class="mesa_label">From date:</div>
        <div class="mesa_input"><input type="text" class="mesa_input_txt" id="mesa_from_date"></div>

        <div class="mesa_label">To date:</div>
        <div class="mesa_input"><input type="text" class="mesa_input_txt" id="mesa_to_date"></div>

        <div class="mesa_label">Time:</div>
        <div class="mesa_input"><%= select_hour 00, prompt: 'Choose hour' %></div>

        <div class="mesa_label">Place:</div>
        <div class="mesa_input"><input type="text" class="mesa_input_txt" id="mesa_place"></div>

        <div class="create_mission_next_btn">
          <img src="/assets/next.png" class="pull-right hand_cursor" onclick='show_mission_summary();'>
        </div>
      </div>
    </div>
    <!--stepb-->


  </div>
  <!--end four column-->


  </div>
<% end %>



<script type="text/javascript">
function show_mission_summary(){
    $("#mesa_title_lbl").text($( "div#mesa_title" ).find( "textarea" ).val());
    $("#mesa_mission_lbl").text($( "div#mesa_shared_motivation" ).find( "textarea" ).val());
    $("#mesa_from_date_lbl").text(document.getElementById( "mesa_from_date" ).value);
    $("#mesa_to_date_lbl").text(document.getElementById( "mesa_to_date" ).value);
    $("#mesa_time_lbl").text(document.getElementById( "date_hour" ).value);
    $("#mesa_place_lbl").text(document.getElementById( "mesa_place" ).value);
    $(".second_col_stepA").hide();
    $(".second_col_stepB").hide();
    $(".second_col_stepC").show();
    $('.second_col').removeClass('opacity-05');
    $(".fourth_col").hide();
    $(".third_col").hide();
    disable_previous_steps (".second_col" )
    $("#mesa_summary").show();
   }

function send_brief(){
     var title = $( "div#mesa_title" ).find( "textarea" ).val()
     var shared_motivation = $( "div#mesa_shared_motivation" ).find( "textarea" ).val()
     var brief = $( "div#mesa_brief_in" ).find( "textarea" ).val()
     var build_intent = $( "div#mesa_build_intent" ).find( "textarea" ).val()
     var from_date = document.getElementById( "mesa_from_date" ).value
     var to_date = document.getElementById( "mesa_to_date" ).value
     var time = document.getElementById( "date_hour" ).value
     var place = document.getElementById( "mesa_place" ).value
     var url = 'send_brief_validation';
	    $.ajax({
		url:url,
		type:'get',
		data : {title: title,brief: brief,shared_motivation: shared_motivation,build_intent: build_intent,from_date: from_date,to_date: to_date,time: time,place: place},
		success:function (data) {
		    {
			$(".third_col").show();
			$(".third_col_stepA").hide();
    			$(".third_col_stepB").hide();
    			$(".third_col_stepC").show();
    			disable_previous_steps (".third_col");
			$("#brief_validation_msg").html(data).show();
   		    }
		}
	    });
   }
 
function show_tangible()
{
  if ($('#mesa_shared_motivation textarea').val()) {
    $(".second_col_stepA").hide();
    $(".second_col_stepB").show();
    $(".fourth_col").hide();
    $(".third_col").hide();
    $("#mesa_shared_motivation_error").hide();
    disable_previous_steps(".second_col");
  } else {
    $("#mesa_shared_motivation_error").show();
  }
}

function show_build_intend()
{
$(".third_col").show();
$(".third_col_stepA").hide();
$(".third_col_stepB").show();
disable_previous_steps(".third_col");
}

function show_when() {
  if ($('#mesa_build_intent textarea').val()) {
    $("#mesa_build_intent_error").hide();
    $(".fourth_col").show();
    $(".fourth_col_stepA").hide();
    $(".fourth_col_stepB").show();
    disable_previous_steps(".fourth_col");
  } else {
    $("#mesa_build_intent_error").show();
  }
}

function show_last_steps()
{
$(".second_col").show();
$(".third_col").show();
$(".fourth_col").show();
$(".second_col_stepC").hide();
$(".stepB").show();
disable_previous_steps(".fourth_col");
}

function show_first_steps()
{
$(".second_col").show();
$(".third_col").show();
$(".fourth_col").show();
$(".stepB").hide();
$(".stepA").show();
disable_previous_steps(".fourth_col");
}

function disable_previous_steps (active_step )
{
$('.second_col').addClass('opacity-05 disabled_step');
$('.third_col').addClass('opacity-05 disabled_step');
$('.fourth_col').addClass('opacity-05 disabled_step');
$(active_step).removeClass('opacity-05 disabled_step');
}
$(function() {
  $( "#mesa_from_date" ).datepicker();
  $( "#mesa_to_date" ).datepicker();
});

function validate_and_next(input, hide_col,show_col){
  if ($('#'+input+' textarea' ).val()){
    $("#"+input+"_error").hide();
    show_next_step(hide_col,show_col)
  } else{
    $("#"+input+"_error").show();
  }
}

</script>
