<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div style="width: 100%; display: table;">
    <div style="display: table-row">
        <div id="mesa_col1" style="width: 8%; display: table-cell;border-right: solid;border-width: 1px;border-color: #000;"> 
		<%= render :partial => "/missions/index" %>
	</div>
        <div id="mesa_col2"  style="width: 30%;display: table-cell; border-right: solid;border-width: 1px;border-color: #000;"></div>
	
    </div>
</div>


</body>
</html>
<script type="text/javascript">
  
   function show_mesa_details(mesa_type,mesa_id){
        
     var url = '/missions/show_'+mesa_type+'_detail';
	    $.ajax({
		url:url,
		type:'get',
		data : {id: mesa_id },
		success:function (data) {
		    {
		    	$("#mesa_col2").html(data);
			//$("#col3").html(data);
   		    }
		}
	    });

       
   }
</script>

