  <!-- Second Column start-->
  <div id ="mesa_col1" class="border col-xs-3 hrLineRightGrey second_col scrollbar">
	<%= render :partial => "/missions/index" %>
  </div>
   <!-- Third column start-->
  <div  id ="mesa_col2" style="width:100%">   
  </div>


<script type="text/javascript">
  
   function show_mesa_details(mesa_type,mesa_id){
        
     var url = '/missions/show_'+mesa_type+'_detail';
	    $.ajax({
		url:url,
		type:'get',
		data : {id: mesa_id },
		success:function (data) {
		    {
		    	$("#mesa_col2").html(data).show();
			$(".third_col").show();
			show_next_step(".second_col","#mesa_col2");
		    }
		}
	    });

       
   }
</script>

