 <!--start first column-->
    <div class="border col-xs-3 first_col">
      <div class="first_column_header">
        <div class="logo"></div><div class="logo_text">Mesa & Cadeira </div>
      </div>
      <div class="user_box">
        <div class="user_title">
          <span>Kiko Shteinhoff</span>
        </div>
        <div class="user_image">
          <%= image_tag src='user.png', class: 'user_avatar_img', alt: 'user'  %>
          <div class="change_image">
            <a href="#">Change picture</a>
          </div>
        </div>
      </div>
      <div class="user_ctrl_buttons">
        <ul>
          <li>
            <a href="/searches"><button type="button" class="btn btn-default btn-admin btn-selected">Search</button></a>
          </li>
          <li>
            <a href="/users"><button type="button" class="btn btn-default btn-admin">Add & Admin Users</button></a>
          </li>
          <li>
            <a href="/missions/create_mission"><button type="button" class="btn btn-default btn-admin">Create Mission</button></a>
          </li>
          <li>
            <a href="/missions"><button type="button" class="btn btn-default btn-admin">Admin Messa</button></a>
          </li>
          <li>
            <a href="/invitations"><button type="button" class="btn btn-default btn-admin">Invites</button></a>
          </li>
          <li>
	    <button type="button" class="btn btn-default btn-admin"> <%= link_to "Log out", destroy_user_session_path, :method => :delete %></button>
          </li>
        </ul>
      </div>
    <!-- first Column end -->



